.rootList {
    grid-area: entryList;
    border-right: 1px solid var(--border-color);
    
    max-height: 100vh;
    overflow-y: scroll;
}

.entryItem {
    padding: 9px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 6px 6px;
    grid-template-areas: 
        "icon source"
        ". translation";
    
    cursor: pointer;
}

.selected {
    background-color: var(--active-color);
}

.entryIcon {
    aspect-ratio: 1 / 1;
    height: 20px;
    place-self: center;
    grid-area: icon;
    border-radius: 50px;
    border-width: 4px;
    border-style: solid;
    box-sizing: border-box;
}

.iconIncomplete {
    background-color: var(--background-color);
    border-color: var(--border-color);
}

.iconNoAlerts {
    border-color: #00c8ff;
}

.iconWarningAlerts {
    border-color: #FFA000;
}

.iconErrorAlerts {
    border-color: #C80000;
}

.iconOk {
    background-color: #00c8ff;
}

.iconPending {
    background-color: #FFA000;
}

.entrySource { 
    grid-area: source;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.entryTranslation { 
    grid-area: translation;
    color: var(--foreground-disabled-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.categoryHeader {
    position: sticky;
    top: 0;
    
    padding: 3px;
    background-color: var(--foreground-color);
    color: var(--background-color);
}