.rootList {
    grid-area: entryList;
    border-right: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;

    overflow-y: auto;
}

.entriesContainer {
    overflow-y: auto;
}

input.searchBox {
    border: none;
    padding: 9px;
    font-size: 12pt;
}

.topBox {
    padding: 9px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    display: grid;
    grid-template-columns: max-content 1fr;
}

.shownTypesSelect {
    appearance: none;
    background-color: var(--background-color);
    border: none;

    font: var(--standard-font);
    outline: none;

    grid-area: select;
}

.shownTypesSelectContainer {
    border-top: 1px solid var(--border-color);

    display: grid;
    grid-template-areas: 
         "icon select";
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    gap: 6px;
    padding: 9px;
}

.filterIcon {
    grid-area: icon;
    align-self: center;
    justify-self: center;
}

.filterPath {
    opacity: 1;
    fill: var(--foreground-color);
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: var(--foreground-color);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-dashoffset: 0;
    stroke-opacity: 1
}

.selectDownArrow {
    grid-area: select;
    justify-self: end;
    align-self: center;
    pointer-events: none;
}

.selectDownArrowPath {
    fill: var(--foreground-color);
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: var(--foreground-color);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.entryItem {
    padding: 9px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 6px 6px;
    grid-template-areas: 
        "icon source"
        ". translation";

    cursor: pointer;
}

.selected {
    background-color: var(--active-color);
}

.entryIcon {
    aspect-ratio: 1 / 1;
    height: 20px;
    place-self: center;
    grid-area: icon;
    border-radius: 50px;
    border-width: 4px;
    border-style: solid;
    box-sizing: border-box;
}

.iconIncomplete {
    background-color: var(--background-color);
    border-color: var(--border-color);
}

.iconNoAlerts {
    border-color: #00c8ff;
}

.iconWarningAlerts {
    border-color: #FFA000;
}

.iconErrorAlerts {
    border-color: #C80000;
}

.iconOk {
    background-color: #00c8ff;
}

.iconPending {
    background-color: #FFA000;
}

.entrySource {
    grid-area: source;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.entryTranslation {
    grid-area: translation;
    color: var(--foreground-disabled-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.categoryHeader {
    position: sticky;
    top: 0;

    padding: 3px;
    background-color: var(--foreground-color);
    color: var(--background-color);
}

.scrim {
    display: none;
}

@media (max-width: 1024px) {
    .rootList {
        border-right: none;
    }

    .scrim {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        background-color: black;
        pointer-events: none;

        z-index: 1;
    }

    .scrim.haveKey {
        opacity: 50%;
        pointer-events: all;
    }
}