.placeholder {
    color: var(--editor-placeholder-foreground);
    background-color: var(--editor-placeholder-background);
    border-radius: 3px;
}

.hint {
    font-size: 8pt;
}

.warning {
    background-color: red;
}

.hidden {
    display: none;
}

.diff {

}

.diffAdd {
    background-color: rgba(0, 200, 0, 0.3);
}

.diffRemove {
    background-color: rgba(200, 0, 0, 0.3);
    text-decoration: line-through;
}