.headingPadding {
    padding: 6px;
}

.threadsContainer {
    border-bottom: 1px solid var(--border-color);
}

.threadItem {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: 
        "threadTitle goButton"
        "lastMessage goButton"
        "threadCreator goButton";
    align-items: center;

    padding: 9px;
    cursor: default;
}

.threadItem:hover {
    background-color: var(--hover-color);
}

.threadItem:active {
    background-color: var(--active-color);
}

.threadTitle {
    grid-area: threadTitle;
}

.lastMessage {
    grid-area: lastMessage;
}

.threadCreator {
    grid-area: threadCreator;
}

.goButton {
    grid-area: goButton;
}

.closed {
    color: var(--foreground-disabled-color);
}