.parent {
    display: flex;
    flex-direction: row;
    
    flex-grow: 1;
}

.leftPane {
    flex-basis: 300px;
    border-right: 1px solid var(--border-color);
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rightPane {
    flex-basis: 600px;
    flex-grow: 1;
}

.listItem {
    width: 300px;
    padding: 3px;
}

.listItemClickable {
    cursor: pointer;
}

.listItemClickable:hover {
    background-color: var(--hover-color);
}

.listItemClickable:active, .selected {
    background-color: var(--active-color);
}

.mobileOnly {
    display: none;
}

@media (max-width: 600px) {
    .mobileOnly {
        display: block;
    }
    
    .desktopOnly {
        display: none;
    }
    
    .leftPane {
        align-items: flex-start;
    }
    
    .listItem {
        width: initial;
    }
}