/*TODO: Update to use CSS vars*/

.ModalList {
    border-bottom: 1px solid var(--border-color);
    max-height: 70vh;
    overflow-y: auto;
}

.ModalListItem {
    padding: 15px;
    text-align: center;
    cursor: default;
}

.ModalListItem:hover {
    background-color: var(--hover-color);
}

.ModalListItem:active {
    background-color: var(--active-color);
}

.ModalListItem:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.DestructiveListItem {
    background-color: var(--destructive-color);
}

.DestructiveListItem:hover {
    background-color: var(--destructive-hover-color);
}

.DestructiveListItem:active {
    background-color: var(--destructive-active-color);
}