.level1 {
    font-size: 30pt;
    font-weight: bold;
}

.level2 {
    font-size: 15pt;
    font-weight: normal;
}

.level3 {
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.level4 {
    font-size: 8pt;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}