@keyframes preloadingBlockKeyframeLtr {
    from {
        background-position: 200% 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes preloadingBlockKeyframeRtl {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 200% 0;
    }
}

div.preloadingBlock {
    background-size: 200% 100%;
    color: transparent;
    user-select: none;
}

:global(.ltr) div.preloadingBlock {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.4) 10%, rgba(255, 255, 255, 0.3) 20%);
    animation: preloadingBlockKeyframeLtr 3s linear 0s infinite;
}

:global(.rtl) div.preloadingBlock {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.4) 10%, rgba(255, 255, 255, 0.3) 20%);
    animation: preloadingBlockKeyframeRtl 3s linear 0s infinite;
}