.listContainer {
    display: flex;
    flex-direction: column;
}

.listItem {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 9px;
    
    cursor: default;
}

.listItem:hover {
    background-color: var(--hover-color);
}

.listItem:active {
    background-color: var(--active-color);
}

.listSection {
    margin-left: 3px;
    margin-top: 15px;
    margin-bottom: 3px;
    font-weight: bold;
    text-transform: uppercase;
}

.listItem + .listItem {
    border-top: none;
}