.root {
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content;
    grid-template-rows: max-content max-content;
    gap: 6px 18px;
    grid-template-areas: 
    "title . deadline metrics"
    "progress progress progress progress";
}

.title {
    grid-area: title;
    
    display: flex;
    align-items: flex-start;
}

.newTitle {
    color: var(--foreground-disabled-color);
}

.metrics {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 18px;

    grid-area: metrics;
}

.deadline {
    grid-area: deadline;
}

.percentComplete {

}

.warnings {
    color: var(--translation-progress-indicator-warning);
}

.errors {
    color: var(--translation-progress-indicator-error);
}

.progress {
    grid-area: progress;

    display: flex;

    height: 5px;
    background-color: var(--border-color);
}

.metric {
    display: flex;
    flex-direction: column;
    min-width: 40px;
}

.metricValue {

}

.metricTitle {
    text-transform: uppercase;
    font-size: 8pt;
}

.metricShortTitle {
    font-size: 8pt;
    display: none;
}

.progressBarSectionComplete {
    background-color: var(--translation-progress-indicator-complete);
}

.progressBarSectionErrors {
    background-color: var(--translation-progress-indicator-error);
}

.progressBarSectionWarnings {
    background-color: var(--translation-progress-indicator-warning);
}

.titleContainer {
    display: flex;
    align-items: center;
    gap: 3px;
}

.titleText {
    margin-right: 3px;
}

.badge {
    font-size: 8pt;
    padding: 2px;
    background-color: var(--badge-background-color);
    border-radius: 5px;
}

@media (max-width: 700px) {
    .root {
        grid-template-areas: 
            "title deadline"
            "metrics metrics"
            "progress progress";
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content max-content;
    }
    
    .metrics {
        justify-content: space-around;
    }
    
    .deadline {
        flex-direction: row;
        gap: 2px;
        align-items: baseline;
    }
}

@media (max-width: 500px) {
    :not(.deadline) > .metricShortTitle {
        display: block;
    }

    :not(.deadline) > .metricTitle {
        display: none;
    }

    .metric:not(.deadline) {
        flex-direction: row;
        gap: 2px;
        align-items: baseline;
    }
}