.glossaryManagerRootContainer {
    overflow-x: hidden;
}

.glossaryManagerRoot {
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
}

.glossaryItem {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.left .glossaryItem {
    flex-direction: row;
}

.listRoot {
    text-align: right;
}

.left.listRoot {
    text-align: left;
}

.glossaryItemIcon {
    visibility: hidden;
}

.glossaryItemContainer:hover .glossaryItemIcon {
    visibility: visible;
}

.listHeading {
    text-align: right;
}

.left .listHeading {
    text-align: left;
}

.mobileSwitcher {
    display: none;
}

@media (max-width: 700px) {
    .glossaryItemIcon {
        visibility: visible;
    }
    
    .mobileSwitcher {
        display: block;
    }
    
    .glossaryManagerRoot {
        display: grid;
        grid-template-columns: 100% 0 100%;
        
        transition: transform 0.25s ease-in-out;
    }
    
    .mobileSwitch .glossaryManagerRoot {
        transform: translateX(-100%);
    }
}