.glossaryManagerRootContainer {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.glossaryManagerRoot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    max-width: var(--content-width);
    width: calc(100vw - 6px);
}

.glossaryManagerSide {
    padding: 10px;
    background: var(--layer-color);
    border-radius: var(--border-radius);
}

.glossaryItem {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.left .glossaryItem {
    flex-direction: row;
}

.listRoot {
    text-align: right;
}

.left.listRoot {
    text-align: left;
}

.glossaryItemIcon {
    visibility: hidden;
}

.glossaryItemContainer:hover .glossaryItemIcon {
    visibility: visible;
}

.listHeading {
    text-align: right;
}

.left .listHeading {
    text-align: left;
}

.mobileSwitcher {
    display: none;
}

@media (max-width: 700px) {
    .glossaryItemIcon {
        visibility: visible;
    }

    .mobileSwitcher {
        display: block;
    }

    .glossaryManagerRoot {
        display: grid;
        grid-template-columns: 100% 100%;

        transition: transform 0.25s ease-in-out;
    }

    .mobileSwitch .glossaryManagerRoot {
        transform: translateX(calc(-100% - 3px));
    }
}
