.infoGrid {
    display: grid;

    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 6px;

    padding-top: 6px;

    align-items: center;
}

.buttonBox {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    align-items: center;
}

.commitAligner {
    display: flex;
    justify-content: flex-end;
}

.commitContainer {
    display: flex;
    gap: 6px;
}

.commitMessage {
}

.commitIdentifier {
    color: var(--foreground-disabled-color);
}

.commitFileChange {
    color: var(--foreground-disabled-color);
    font-family: var(--fixed-font);
}
