.infoGrid {
    display: grid;

    grid-template-columns: 1fr max-content;
    row-gap: 6px;

    border-top: 1px solid var(--border-color);
    padding-top: 6px;

    margin-bottom: 9px;
    align-items: center;
}

.buttonBox {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    align-items: center;
}

.border {
    grid-column: 1 / 3;
    height: 1px;
    background-color: var(--border-color);
}

.commitAligner {
    display: flex;
    justify-content: flex-end;
}

.commitContainer {
    display: flex;
    gap: 6px;
}

.commitMessage {

}

.commitIdentifier {
    color: var(--foreground-disabled-color);
}

.commitFileChange {
    color: var(--foreground-disabled-color);
    font-family: var(--fixed-font);
}