.scrim {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.searchContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 2;
}

.searchBoxContainer {
    background: var(--background-color);
    display: flex;
    justify-content: center;
}

.searchBox.searchBox {
    max-width: var(--content-width);
    width: 100vw;

    border: none;
    outline: none;
    font-size: 20pt;
}

.searchResultsContainer {
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3px;
    padding-top: 20px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.searchResult {
    max-width: var(--content-width);
    width: 100vw;

    padding: 3px;
    border-radius: var(--border-radius);
    cursor: default;
}

.searchResult:hover {
    background: var(--hover-color);
}

.searchResult:active {
    background: var(--active-color);
}

.selectedSearchResult {
    background: var(--hover-color);
}

.subprojectSearchResult {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content max-content;
    grid-template-areas: "name name" ". languages";
}

.subprojectSearchResult:hover:has(.searchResultLanguages:hover) {
    background: none;
}

.searchResultName {
    grid-area: name;
}

.searchResultLanguages {
    grid-area: languages;

    display: flex;
    gap: 2px;
    background: var(--layer-color);
    border-radius: var(--border-radius);
}

.searchResultLanguage {
    border-radius: var(--border-radius);
    padding: 2px;
}

.searchResultLanguage:hover {
    background: var(--hover-color);
}

.searchResultLanguage:active {
    background: var(--active-color);
}

.searchResultLanguageSelected {
    background: var(--hover-color);
}

.searchTitle {
    max-width: var(--content-width);
    width: 100vw;
}
