.assistantArea {
    grid-area: extrasArea;
}

.assistantAreaInner {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    gap: 3px;
}

.pane {
}

.heading {
    padding: 9px;
}

.suggestedTranslation {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 0px 1fr 1fr 0px;
    gap: 0px 0px;
    grid-template-areas:
        "border"
        "meta"
        "translation"
        "controls";
}

.suggestedSource {
    font-size: 10pt;
    color: var(--foreground-disabled-color);
    grid-area: meta;
}

.suggestedTranslationTranslation {
    grid-area: translation;
}

.suggestedControlsContainer {
    grid-area: controls;
}

.suggestedControls {
    display: none;

    position: absolute;
    right: 0;
    padding: 9px;

    background-color: var(--background-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.suggestedTranslation:not(.suggestedLoading):hover .suggestedControls {
    display: block;
}

.suggestedBorder {
    grid-area: border;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--border-color);
    display: none;
}

.suggestedTranslation:not(.suggestedLoading):hover .suggestedBorder {
    display: block;
}

.disclaimer {
    padding: 9px;

    font-size: 10pt;
    color: var(--foreground-disabled-color);
}

.suggestionsContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

@media (max-width: 1024px) {
    .assistantArea {
        display: none;
    }
}
