.backButton {
    padding-top: 6px;
    padding-bottom: 6px;

    cursor: default;
    background-color: unset;
    border-radius: var(--border-radius);
}

.backButton:hover {
    background-color: var(--hover-color);
}

.backButton:active {
    background-color: var(--active-color);
}

.listPageContainer {
    max-width: 600px;
}

.listPageContainer.backButton {
    padding-left: 6px;
}

.translationViewContainer.backButton {
    padding-left: 6px;
}
