.backButton {
    padding-top: 6px;
    padding-bottom: 6px;

    cursor: default;
    background-color: unset;
}

.backButton:hover {
    background-color: var(--hover-color);
}

.backButton:active {
    background-color: var(--active-color);
}

.listPageContainer {
    border-bottom: 1px solid var(--border-color);
    max-width: 600px;
}

.translationViewContainer {
    border-bottom: 1px solid var(--border-color);
}

.listPageContainer.backButton {
    padding-left: 6px;
}

.translationViewContainer.backButton {
    padding-left: 6px;
}