.button {
    padding: 15px;
    cursor: default;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button:not(.disabled):hover {
    background-color: var(--hover-color);
}

.button:not(.disabled):active {
    background-color: var(--active-color);
}

.button.disabled {
    color: var(--foreground-disabled-color);
}