.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerInner {
    width: 100vw;
    max-width: var(--content-width);
    padding-left: 9px;
    padding-right: 9px;
    box-sizing: border-box;
}

.bottomBorder {
    border-bottom: 1px solid var(--border-color);
}