.rootLayout {
    height: 100dvh;
    max-height: 100dvh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
    gap: 0 0;
    grid-template-areas:
        "header"
        "content"
        "footer";

    overflow: auto;
}
