.container {
    display: flex;
    flex-direction: column;
    
    background: var(--layer-color);
    border-radius: var(--border-radius);
    
    cursor: text;
    border: 3px solid transparent;
    transition: border 0.1s ease-out;
}

.container:has(.input:focus) {
    animation: focusDecoration 1s linear 0s infinite;
}

.label {
    font-size: 8pt;
    position: absolute;
    
    transition: all 0.2s;
}

.input[type=text], .input[type=password] {
    border: none;
    margin-top: 10pt;
    outline: none;
    
    transition: all 0.2s;
}

.input:placeholder-shown + .label {
    transform: translateY(40%) translateX(2%);
    font-size: 12pt;
    color: var(--foreground-disabled-color);
    cursor: text;
}

.input:not(:placeholder-shown) + .label, .input:focus + .label {
    transform: translateY(0) translateX(2%);
    font-size: 8pt;
    color: var(--foreground-color);
}

@keyframes focusDecoration {
    0% {
        border: 3px solid var(--focus-decoration-start);
    }
    50% {
        border: 3px solid var(--focus-decoration-end);
    }
    100% {
        border: 3px solid var(--focus-decoration-start);
    }
}