.container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-color);
}

.label {
    font-size: 8pt;
    position: absolute;
    
    transition: all 0.2s;
}

.input[type=text], .input[type=password] {
    border: none;
    margin-top: 10pt;
    outline: none;
    
    transition: all 0.2s;
}

.input:placeholder-shown + .label {
    transform: translateY(60%) translateX(2%);
    font-size: 12pt;
    color: var(--foreground-disabled-color);
    cursor: text;
}

.input:not(:placeholder-shown) + .label, .input:focus + .label {
    transform: translateY(0) translateX(2%);
    font-size: 8pt;
    color: var(--foreground-color);
}
