.parent {
    display: flex;
    flex-direction: row;

    flex-grow: 1;
    justify-content: center;
}

.widthConstrainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: stretch;
    gap: 3px;

    flex-grow: 1;

    max-width: var(--content-width);
}

.leftPane {
    display: flex;
    flex-direction: column;
}

.leftPaneInner {
    background-color: var(--layer-color);
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding: 6px;
    gap: 3px;
}

.rightPane {
    display: flex;
    flex-direction: column;
}

.rightPaneInner {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    gap: 3px;
}

.listItem {
    width: 300px;
    padding: 3px;
    border-radius: var(--border-radius);
}

.listItemClickable {
    cursor: pointer;
}

.listItemClickable:hover {
    background-color: var(--hover-color);
}

.listItemClickable:active,
.selected {
    background-color: var(--active-color);
}

.mobileOnly {
    display: none;
}

@media (max-width: 600px) {
    .widthConstrainer {
        grid-template-columns: 1fr;
    }

    .mobileOnly {
        display: block;
    }

    .desktopOnly {
        display: none;
    }

    .leftPaneInner {
        align-items: stretch;
    }

    .listItem {
        width: initial;
    }
}
