.ModalBackground {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}


.PopoverBackground {
    justify-content: flex-end;
    align-items: stretch;
    border-top: none;
}

.ModalContainer {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);

    flex-basis: 600px;
    max-height: 100vh;
}

.PopoverContainer {
    border-top: none;
    border-bottom: none;

    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas: "heading" "body";
}

:global(.ltr) .PopoverContainer {
    border-right: none;
}

:global(.rtl) .PopoverContainer {
    border-left: none;
}

.ModalHeading {
    margin: 0;
    font-size: 20pt;
    font-weight: normal;
    border-bottom: 1px solid var(--border-color);

    grid-area: heading;

    display: flex;
    align-items: stretch;
}

.ModalComponent {
    border-bottom: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.BackButton {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
}

:global(.ltr) .BackButton {
    border-right: 1px solid var(--border-color);
}

:global(.rtl) .BackButton {
    border-left: 1px solid var(--border-color);
}

.BackButton:hover {
    background-color: var(--hover-color);
}

.BackButton:active {
    background-color: var(--active-color);
}

.HeadingText {
    margin: 10px;
}

.ModalText {
    padding: 20px;
    border-bottom: 1px solid var(--border-color);

    overflow-y: auto;
    overflow-x: auto;

    box-sizing: border-box;
    max-height: calc(100vh - 300px);
    max-width: 100vw;

    grid-area: body;
}

.PopoverContainer .ModalText {
    padding: 0;
    max-height: unset;
    border-bottom: none;
}

.ModalButtonContainer {
    display: flex;
}

.ModalButton {
    flex-grow: 1;
    flex-basis: 1px;

    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;

    padding: 15px;

    cursor: default;
}

.ModalButton:hover {
    background-color: var(--hover-color);
}

.ModalButton:active {
    background-color: var(--active-color);
}

:global(.ltr) .ModalButton:not(:last-child) {
    border-right: 1px solid var(--border-color);
}

:global(.rtl) .ModalButton:not(:last-child) {
    border-left: 1px solid var(--border-color);
}

.DestructiveModalButton {
    background-color: var(--destructive-color);
}

.DestructiveModalButton:hover {
    background-color: var(--destructive-hover-color);
}

.DestructiveModalButton:active {
    background-color: var(--destructive-active-color);
}

.ModalProgressSpinner {
    display: flex;
    flex-grow: 1;

    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .ModalContainer {
        align-self: flex-end;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
}