/*TODO: Update to use CSS vars*/

.ModalList {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
    background: var(--layer-color);
}

.ModalListItem {
    padding: 15px;
    margin: 3px;
    border-radius: var(--border-radius);
    text-align: center;
    cursor: default;
}

.ModalListItem:hover {
    background-color: var(--hover-color);
}

.ModalListItem:active {
    background-color: var(--active-color);
}

.DestructiveListItem {
    background-color: var(--destructive-color);
}

.DestructiveListItem:hover {
    background-color: var(--destructive-hover-color);
}

.DestructiveListItem:active {
    background-color: var(--destructive-active-color);
}