.navbarHeader {
    grid-area: header;
    background-color: var(--layer-color);
}

.navbarWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbarInner {
    width: 100vw;
    max-width: var(--content-width);
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

:global(.ltr) .navbarInner {
    padding-left: 9px;
}

:global(.rtl) .navbarInner {
    padding-right: 9px;
}

.navbarButtonContainer {
    display: flex;
    align-items: stretch;
}

@media (max-width: 1024px) {
    .navbarInner {
        padding-left: 9px;
        padding-right: 9px;
    }
}