@keyframes preloadingBlockKeyframeLtr {
    from {
        background-position: 200% 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes preloadingBlockKeyframeRtl {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 200% 0;
    }
}

div.preloadingBlock {
    background-size: 200% 100%;
    color: transparent;
    user-select: none;
}

:global(.ltr) div.preloadingBlock {
    background-image: linear-gradient(to right, var(--preloading-block-color-1) 0%, var(--preloading-block-color-2) 10%, var(--preloading-block-color-1) 20%);
    animation: preloadingBlockKeyframeLtr 3s linear 0s infinite;
}

:global(.rtl) div.preloadingBlock {
    background-image: linear-gradient(to left, var(--preloading-block-color-1) 0%, var(--preloading-block-color-2) 10%, var(--preloading-block-color-1) 20%);
    animation: preloadingBlockKeyframeRtl 3s linear 0s infinite;
}