.listContainer {
    display: flex;
    flex-direction: column;

    gap: 2px;
}

.listItem {
    padding-top: 9px;
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 9px;
    cursor: default;
    display: flex;
    border-radius: var(--border-radius);
}

.listItem:hover {
    background-color: var(--hover-color);
}

.listItem:active {
    background-color: var(--active-color);
}

.listSection {
    margin-left: 0px;
    margin-bottom: 3px;
    font-weight: bold;
    text-transform: uppercase;
}

.listItem + .listItem {
    border-top: none;
}

.listItemContents {
    flex-grow: 1;
}

.listItemOnState {
    text-transform: uppercase;
}
