input.searchBox {
    border: none;
    padding: 9px;
    font-size: 12pt;
}

.glossaryTable {
    display: grid;
    grid-template-columns: 1fr 1fr min-content;
    grid-gap: 1px;
    
    background: var(--border-color);
    border-top: 1px solid var(--border-color);
}

.glossaryTable > * {
    background: var(--background-color);
    padding: 6px;
}

.tableHeader {
    font-weight: bold;
}

.partOfSpeech {
    margin-left: 6px;
    color: var(--foreground-disabled-color);
}