.language {
    padding: 6px;
    cursor: pointer;

    border-radius: var(--border-radius);
}

.languageGroup {
    padding: 6px;
}

.selected {
    background: var(--active-color);
}

.languageListInner {
    background: var(--layer-color);
    border-radius: var(--border-radius);

    padding: 3px;
}
