.root {
    display: grid;
    grid-template-areas: "language table";
    grid-template-columns: 400px 1fr;
    overflow-y: hidden;

    padding: 3px;
    gap: 3px;
}

.language {
    grid-area: language;
    overflow-y: auto;
}

.table {
    grid-area: table;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: stretch;
    overflow-y: auto;
    gap: 3px;
}

@media (max-width: 1024px) {
    .root {
        grid-template-areas: "language";
        grid-template-columns: 1fr;
    }

    .languageEditor.root {
        grid-template-areas: "table";
    }

    :global(.ltr) .language {
        border: none;
    }

    :global(.rtl) .language {
        border: none;
    }

    .table {
        display: none;
    }

    .languageEditor .table {
        display: flex;
    }

    .languageEditor .language {
        display: none;
    }
}
