@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@font-face {
    font-family: 'Contemporary';
    font-style: normal;
    font-weight: 400;
    src: local('Contemporary'), local('Contemporary-Regular'), url('https://vicr123.com/typeface/Contemporary-Regular.ttf');
}

body {
    color-scheme: dark;
    overflow: hidden;
    margin: 0;

    --foreground-color: white;
    --background-color: rgb(40, 40, 40);

    --badge-background-color: rgba(20, 20, 20, 0.7);

    --foreground-disabled-color: rgba(255, 255, 255, 0.5);
    --foreground-error-color: rgb(200, 0, 0);

    --active-color: #0064c8;
    --border-color: #505050;
    --footer-color: rgba(0, 100, 200, 0.3);
    --hover-color: #144678;

    --destructive-color: rgba(255, 0, 0, 0.3);
    --destructive-hover-color: rgba(255, 0, 0, 0.5);
    --destructive-active-color: rgba(255, 0, 0, 0.7);

    --content-width: 900px;

    --translation-progress-indicator-complete: rgb(0, 150, 0);
    --translation-progress-indicator-error: rgb(200, 0, 0);
    --translation-progress-indicator-warning: rgb(200, 100, 0);

    --editor-placeholder-foreground: rgb(150, 150, 150);
    --editor-placeholder-background: rgb(60, 60, 60);

    --preloading-block-color-1: rgba(255, 255, 255, 0.3);
    --preloading-block-color-2: rgba(255, 255, 255, 0.4);

    --fixed-font: 'JetBrains Mono', monospace;
    --standard-font: 'Contemporary', sans-serif;

    background-color: var(--background-color);
    color: var(--foreground-color);

    font-family: var(--standard-font);
    font-size: 12pt;
}

@media (prefers-color-scheme: light) {
    body {
        color-scheme: light;
        --foreground-color: black;
        --background-color: white;

        --badge-background-color: rgba(235, 235, 235, 0.7);

        --foreground-disabled-color: rgba(0, 0, 0, 0.5);

        --active-color: #00c8ff;
        --border-color: #b4b4b4;
        --footer-color: rgba(0, 100, 200, 0.3);
        --hover-color: #64c8ff;

        --editor-placeholder-foreground: rgb(150, 150, 150);
        --editor-placeholder-background: rgb(230, 230, 230);

        --preloading-block-color-1: rgba(0, 0, 0, 0.3);
        --preloading-block-color-2: rgba(0, 0, 0, 0.4);
    }
}

a {
    color: #0366d6;
}

code {
    font-family: var(--fixed-font);
}

input[type=text], input[type=password] {
    background-color: var(--background-color);
    color: var(--foreground-color);
    border: 1px solid var(--border-color);
    padding: 3px;
}

hr {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
}